<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>Bookmark Reminder</title>
  
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <link rel="stylesheet" type="text/css" href="css/jquery.tagsinput.css">
  <link rel="stylesheet" type="text/css" href="./js/jquery.tooltip.js/jquery.tooltip.css" />
  <link href="./css/bootstrap.css" rel="stylesheet">
  <link href="./css/memoremainder.css" rel="stylesheet">
    
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
  <script src="./js/sidebar.js"></script>
  <script src="./js/tags_display.js"></script>

  <link type="text/css" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.18/themes/ui-lightness/jquery-ui.css" rel="stylesheet" />	
  <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
  <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.18/jquery-ui.min.js"></script>
  <script src="js/bootstrap.min.js"></script>
<script type="text/javascript">

$(function(){

httpObj = new XMLHttpRequest();
//httpObj.open("get", "./jsondata.txt", true);
httpObj.open("get", "/json/tagdata", true);
httpObj.onload = function(){
  var myData = JSON.parse(this.responseText);
  //alert(myData.tag[1].tag);
  var tags = new Array();
  for(var i=0; i<myData.usertag.length;i++){
    for(var j=0; j<myData.tag.length;j++){
      //alert(myData.usertag[i].tagid);
      //alert(myData.tag[j].tagid);
      if(myData.usertag[i].tagid == myData.tag[j].tagid){
        tags.push(myData.tag[j].tag);
        
      }
    }
  }
  $('#remindtag').autocomplete({
    minLength: 1,
    source: function(req, res) {
      var result = [];
      for (var i = 0; i < tags.length; i++) {
        if (tags[i].indexOf(req.term) == 0) {result.push(tags[i]);}
      }
      res(result);
    }
  });

}

httpObj.send(null);

});

  </script>
   <style type="text/css">
   li#bookmark { margin:10px; }
   li#tweet { margin:10px; }
   li#follow { margin:5px; }
    h1 {
      -moz-animation-duration: 3s;
      -webkit-animation-duration: 3s;
      -moz-animation-name: slidein;
      -webkit-animation-name: slidein;
    }
    
    @-moz-keyframes slidein {
      from {
        margin-left:100%;
        width:300%
      }
      
      75% {
        font-size:300%;
        margin-left:25%;
        width:150%;
      }
      
      to {
        margin-left:0%;
        width:100%;
      }
    }
    
    @-webkit-keyframes slidein {
      from {
        margin-left:150%;
        width:200%
      }
      
      100% {
        font-size:300%;
        margin-left:25%;
        width:150%;
      }
      
      to {
      	
        margin-left:0%;
        width:100%;
      }
    }

  </style>

</head>
<body background="./img/webtreats_stone_3.jpg">
<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/ja_JP/all.js#xfbml=1";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>

<div class="navbar">
  <div class="navbar-inner">
    <a class="brand" href="/index">Bookmark Reminder</a>
    <ul class="nav">
      <li><a href="index">Home</a></li>
      [% IF c.session.name.defined %]
      <li><a href="/hatena/logout"><i class="icon-off"></i>Logout</a></li>
      <li><a href="/list"><i class="icon-th-list"></i>List</a></li>
      <li><a href="/history"><i class="icon-time"></i>History</a></li>
      <li><a href="/bookmarksetting"><i class="icon-wrench"></i>Setting</a></li>
      <li><a href="http://www.hatena.ne.jp/[% c.session.name %]" target="blank">[% c.session.name %]</a></li>
      [% ELSE %]
      <li><a href="/hatena/login"><i class="icon-off"></i>ログインまたは登録</a></li>
      [% END %]
      <li><a href="https://docs.google.com/presentation/d/1LoFm6umjoKK-cRWNJlTAuyctqBYyxkS0bJqBTS7-rFo/edit?usp=sharing" target="_blank">Bookmark Reminderとは</a></li>
      <li id="bookmark"><a href="http://b.hatena.ne.jp/entry/http://reminder.asia:4000/" class="hatena-bookmark-button" data-hatena-bookmark-title="Bookmark Reminder" data-hatena-bookmark-layout="simple-balloon" title="このエントリーをはてなブックマークに追加"><img src="http://b.st-hatena.com/images/entry-button/button-only.gif" alt="このエントリーをはてなブックマークに追加" width="20" height="20" style="border: none;" /></a></li>
      <li id="bookmark">
        <div class="fb-like" data-href="http://reminder.asia:4000/" data-send="false" data-layout="button_count" data-width="450" data-show-faces="true"></div>
      </li>

      <li id="bookmark">
        <div class="g-plusone" data-size="medium"></div>
      </li>
      <li id="tweet"><a href="https://twitter.com/share" class="twitter-share-button" data-url="http://reminder.asia:4000" data-text="Bookmark Reminder -あなたのブックマークをリマインド-" data-via="Reminderasia" data-lang="ja" data-hashtags="reminder" data-size="small">ツイート</a></li>
      
      
      <!--<li id="follow"><a href="https://twitter.com/Reminderasia" class="twitter-follow-button" data-show-count="false" data-lang="ja" data-size="large">@Reminderasiaさんをフォロー</a></li>-->
<!-- Place this tag where you want the +1 button to render. -->
<script type="text/javascript">
  (function() {
    var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
    po.src = 'https://apis.google.com/js/plusone.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
  })();
</script>      
      
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
<script type="text/javascript" src="http://b.st-hatena.com/js/bookmark_button.js" charset="utf-8" async="async"></script>
<!--      <li><a href=""><div class="fb-like" data-href="http://reminder.asia:4000" data-send="true" data-layout="button_count" data-width="450" data-show-faces="true" data-font="arial"></div></a></li>
<form class="navbar-form pull-left">
  <input type="text" class="span2">
  <button type="submit" class="btn">Submit</button>
</form>
-->
    </ul>
  </div>
</div>
<div class="container-fluid">
 
            <div class="span2">
 			</div>         
            <div class="span5">
              <div class="well">
            <form method="POST" action="/bookmarksetting" name="settingform">
              [% IF exituser != 1 %]
              <h4>ようこそ、<img src='[% user.image_url %]' width='32' hight='32'>[% user.name %]さん。</h4>
              <h5><font color="#ff0000">以下の設定を完了してください。</font></h5>
              [% END %]
            <font size="3" color="#228b22">設定</font><br>
            <!-- 複数個をチェックボックスで指定<br> -->
            <li>リマインドする日程:(<font size="2" color="#ff0000">*すべて必須</font>)</li>
            <!-- <select name="select" style="width: 30px"> -->
            <!--google map のルート検索の時間指定のところと同じように,一覧から選択できて,かつ,入力できるようにしたい<br>-->           
[% IF findbookmarksetting.days.match('Mon').0 == '1'%]
            <input type="checkbox" name="days" id="optionscheckbox" value="Mon" checked>
[% ELSE %]
            <input type="checkbox" name="days" id="optionscheckbox" value="Mon" >
[% END %]
            月曜日
[% IF findbookmarksetting.days.match('Tue').0 == '1'%]
            <input type="checkbox" name="days" id="optionscheckbox" value="Tue" checked>
[% ELSE %]
            <input type="checkbox" name="days" id="optionscheckbox" value="Tue" >
[% END %]
            火曜日
[% IF findbookmarksetting.days.match('Wed').0 == '1'%]
            <input type="checkbox" name="days" id="optionscheckbox" value="Wed" checked>
[% ELSE %]
            <input type="checkbox" name="days" id="optionscheckbox" value="Wed" >
[% END %]
            水曜日
[% IF findbookmarksetting.days.match('Thr').0 == '1'%]
            <input type="checkbox" name="days" id="optionscheckbox" value="Thr" checked>
[% ELSE %]
            <input type="checkbox" name="days" id="optionscheckbox" value="Thr" >
[% END %]
            木曜日
[% IF findbookmarksetting.days.match('Fri').0 == '1'%]
            <input type="checkbox" name="days" id="optionscheckbox" value="Fri" checked>
[% ELSE %]
            <input type="checkbox" name="days" id="optionscheckbox" value="Fri" >
[% END %]
            金曜日

[% IF findbookmarksetting.days.match('Sat').0 == '1'%]
            <input type="checkbox" name="days" id="optionscheckbox" value="Sat" checked>
[% ELSE %]
            <input type="checkbox" name="days" id="optionscheckbox" value="Sat" >
[% END %]
            土曜日
[% IF findbookmarksetting.days.match('Sun').0 == '1'%]
            <input type="checkbox" name="days" id="optionscheckbox" value="Sun" checked>
[% ELSE %]
            <input type="checkbox" name="days" id="optionscheckbox" value="Sun" >
[% END %]
            日曜日

            <br>
            Email:<br>
            <input type="text" name="email" size=50 value="[% findbookmarksetting.email %]"><br>
            リマインドするタグ:<br>
            (<font size="2" color="#ff0000">右側のタグをクリック.例:[あとで読む][perl][iphone]</font>)<br>
            <textarea type="text" name="remind_tag" id="remindtag" rows="3" cols="10" value="[% findbookmarksetting.remind_tag %]">[% findbookmarksetting.remind_tag %]</textarea><br>
            
            <!--
                複数のremind_tagを指定したい
            <p id="addtag"></p>
              <input type="image" src="img/tagadd.png" onmouseout="this.src='img/tagadd.png';" onmouseover="this.src='img/ontagadd.png';" alt="タグを削除する"><br>
            -->
              リマインドする数:(<font size="2" color="#ff0000">*半角.例:10</font>)<br>
            <input type="text" name="remind_num" size=5 value="[% findbookmarksetting.remind_num %]"><br>
                    
            通知時間:
            
            [%-MACRO selecttime (name,start,end) BLOCK -%]
              <select id="[% name %]" name="[% name %]" style="width:70px;">
                [%- datetimelist = [
                  {datetimename => 'year',datetime => datetime.year },
                  {datetimename => 'month',datetime => datetime.month },
                  {datetimename => 'day',datetime => datetime.day },
                  {datetimename => 'hour',datetime => findbookmarksetting.hour },
                  {datetimename => 'minute',datetime => findbookmarksetting.minute}
                ]-%]
              [%- FOREACH n = datetimelist %]
                [%- IF name == n.datetimename -%]
                  [%- FOREACH i = [start..end] %]
                    [%- IF i == n.datetime -%]
                      <option value="[% i %]" selected >[% i %]</option>
                    [%- ELSE -%]
                      <option value="[% i %]" >[% i %]</option>
                    [%- END -%]
                  [%- END %]
                [%- END -%]
              [%- END -%]
              </select>
            [%- END -%]
            [% selecttime ('hour' ,0,23) %]時
            [% selecttime ('minute',0,59) %]分
            <br>
  <button type="submit" class="btn btn-danger"><i class="icon-pencil icon-white" style="margin-top: 1px;"></i>保存</button>
            </form>
      
            	</div>
            </div>
            <div class="span5">
				<div class="well">
				  <!-- 過去にリマインドされたタグ<br> -->
                  主なタグ:<br>
                  [% FOREACH maintag = bookmarkmaintags %]
                  
                  
                  [% IF maintag == '' %]
                  <button class="btn btn-primary" rel="tooltip" data-original-title="リマインドするタグは,空白です">
                    <p name="tag" onclick="document.settingform.remindtag.value+='['+'[% maintag %]'+']'">[(タグ無し)]</p>
                  </button>
                  [% ELSE %]
                  <button class="btn btn-primary">
                    <p name="tag" onclick="document.settingform.remindtag.value+='['+'[% maintag %]'+']'">[% maintag %]</p>
                  </button>
                  [% END %]
                  [% END %]
                  <br>
                  <hr>
                  <div id="alltagopen">
                    <h5><button class="btn btn-danger">すべてのタグを表示</button></h5><br>
                    <div>
                    [% FOREACH tag = bookmarktags %]
                    
                    <button class="btn btn-info">
                      [% IF tag == '' %]
                      <p name="tag" onclick="document.settingform.remindtag.value+='['+'[% tag %]'+']'">[(タグ無し)]</p>
                      [% ELSE %]
                      <p name="tag" onclick="document.settingform.remindtag.value+='['+'[% tag %]'+']'">[% tag %]</p>
                    </button>
                    [% END %]
                    [% END %]
                    </div>
                  </div>

				</div>
			</div>
          </div>

[% settingok %]

[% IF settingok == 1 %]
<script>
alert("保存しました");
location.href="/list";
</script>
[% END %]

</body>
</html>
