<html>
[% INCLUDE "header.tt" %]

Bookmark Reminderをご利用頂きありがとうございます.

Bookmark Reminderは,はてなブックマークをメールでお知らせするサービスです.ご意見を頂きたく思います.

質問は,10個あります.

1.
そもそも、ブックマークを知らせる必要性がない．

2.
わざわざログインしないといけないのが、面倒.

3.
メールで知らせるよりも,Chrome 拡張やTwitter で知らせてさせてくれたほうが良い.

4.
Web上ではなく,スマートフォンアプリのほうが良い.

5.
お知らせするタグは,1つのタグではなく,複数のタグに対応したほうが良い.

6.
全件からブックマークをお知らせする機能をつけたほうが良い.

7.
他にご意見があればお願いします.


[% INCLUDE "footer.tt" %]
</body>
</html>
